*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #19B5A5;
  --secondary: #FFB027;
  --dark: #0C2D48;
  --light: #FFFFFF;
  --card: #e9e3e3;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 4px;
background: var(--primary);
color: white;
position: relative;
}
.logo {
display: flex;
align-items: center;
font-weight: bold;
font-size: 1.2rem;
}
.logo img {
width: auto;
  height: 110px;
  object-fit: cover;
  object-position: center center;
}
.logo span {
margin-left: 0.5rem;
}
.nav {
display: flex;
gap: 1rem;
transition: all 0.3s ease-in-out;
}
.nav a {
color: white;
text-decoration: none;
font-weight: 500;
}
.hamburger {
display: none;
font-size: 1.5rem;
cursor: pointer;
}


/* Responsive */
@media (max-width: 768px) {
.nav {
position: fixed;
top: 0;
right: -100%;
height: 100%;
width: 200px;
background: var(--primary);
flex-direction: column;
align-items: center;
justify-content: center;
gap: 2rem;
transition: right 0.3s ease-in-out;
z-index: 1000;
}
.nav.open {
right: 0;
}
.hamburger {
display: block;
}
}